.container {
  max-width: 1270px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

@include breakpoint-down (600) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@include breakpoint-down (500) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
