.hero {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 160px 0;
}
.hero__title {
  color: #000;
  text-align: center;
  font-size: 36px;
  max-width: 800px;
  margin: 0 auto 50px;
}

.hero__btn {
  background-color: #5B86D4;
  border: 2px solid #5B86D4;
  color: #fff;
  font-weight: 700;
}
.hero__wrapper {
  display: flex;
  justify-content: center;
}

@include breakpoint-down (600) {
  .hero {
    padding: 100px 0;
  }
  .hero__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@include breakpoint-down (400) {
  .hero {
    padding: 70px 0;
  }
  .hero__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}